<form method="post" action="{{ path('app_logescom_comptable_caisse_transfert_fond_confirm_delete', {'id': transfert_fond.id}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transfert_fond.id) }}">
    <input type="hidden" name="param" value="simple">
    <button class="btn btn-danger">Supprimer</button>
</form>
