<form method="post" action="{{ path('app_logescom_comptable_entrees_versement_confirm_delete', {'id': versement.id}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ versement.id) }}">
    <input type="hidden" name="param" value="simple">
    <button class="btn btn-danger">Supprimer</button>
</form>
