<form method="post" action="{{ path('app_logescom_comptable_salaire_personnel_config_salaire_delete', {'id': config_salaire.id, site : site.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ config_salaire.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
