{% extends 'base_admin.html.twig' %}

{% block title %}Modifier la site{% endblock %}

{% block presentation %}
    <div class="row m-0 p-0">
        {% include "logescom/admin/_nav_admin.html.twig" %}  
        
        <div class="col-sm-12 col-md-10 m-0 p-0">
            <div class="container-fluid p-1">
                <h1 class="text-center mb-2 fs-4 text-white bg-dark">Modifier la site</h1>

                <div class="card shadow-sm bg-light">
                    <div class="card-body">

                        {{ include('logescom/admin/site/_form.html.twig', {'button_label': 'Modifier'}) }}


                        <div class="d-flex justify-content-between my-4">
                            <a class="btn btn-light" href="{{ path('app_logescom_admin_site_index') }}">
                                <i class="fa fa-arrow-left"></i> Retour à la liste
                            </a>

                            <div class="d-flex justify-content-end">
                                {{ include('logescom/admin/site/_delete_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
