<form method="post" action="{{ path('app_logescom_comptable_caisse_cheque_espece_delete', {'id': cheque_espece.id, 'site': site.id}) }}"  onsubmit="return confirm('Confirmez-vous cette opération?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cheque_espece.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
