<form method="post" action="{{ path('app_logescom_comptable_sorties_decaissement_confirm_delete', {'id': decaissement.id}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ decaissement.id) }}">
    <input type="hidden" name="param" value="simple">
    <button class="btn btn-danger">Supprimer</button>
</form>
