{% extends 'base_site.html.twig' %}

{% block title %}Ajouter un bien site{% endblock %}

{% block presentation %}
    <div class="row justify-content-center mt-3">
        <div class="col-12 col-md-11 col-lg-10">
            {% include "_common/_messages_flash.html.twig" %}

            <div class="card border-0 shadow-sm rounded-3">
                <div class="card-header bg-primary text-white text-center rounded-top">
                    <h4 class="mb-0"><i class="fas fa-plus-circle me-2"></i>Ajouter un nouveau bien</h4>
                </div>
                <div class="card-body bg-light">
                    {{ include('logescom/commercial/bien/_form.html.twig') }}

                    <div class="d-flex justify-content-between mt-4">
                        <a href="{{ path('app_logescom_commercial_bien_index', {'site' : site.id }) }}"
                           class="btn btn-outline-secondary">
                            <i class="fas fa-arrow-left me-1"></i>Retour à la liste
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
