<form method="post" action="{{ path('app_logescom_admin_config_penalite_type_delete', {'id': config_penalite_type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ config_penalite_type.id) }}">
    <button class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i> Supprimer</button>
</form>
